<html>

<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<div>Message list</div>

<!--<form method="get" action="del">-->
<!--    <input type="text" name="text" placeholder="Enter message" />-->
<!--    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>-->
<!--    <input type="text" name="tag" placeholder="Tag">-->
<!--    <button type="submit">Remove</button>-->
<!--</form>-->

<form method="post" action="del">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="text" name="filter" placeholder="Id">
    <button type="submit">Remove</button>

</form>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
        <strong>{{authorName}}</strong>
    </div>
{{/messages}}
<a href="/main">Back</a><br>
<a href="/add">Add Message</a><br>

</body>
</html>