<html>
<head>
    <style>
            @import "/static/style.css";
    </style>

</head>
<body><table >

    <tr>
        <td><ul>
            <li><a href="/add">Add Message</a></li>
            <li><a href="/delete">Delete Message</a></li>
            <li><a href="/user">User list</a></li>
        </ul></td>

        <td><form method="post" action="filter">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="text" name="filter">
            <button type="submit">Find</button>
        </form></td>
        <td>
            <div align="right">
                <form action="/logout" method="post" >
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                    <input  type="submit" value="Sign Out"/>
                </form>
            </div>
        </td>
    </tr>
<td><tr>
    <h1>Message list</h1>
</tr>
</td>
    <td><tr>
        {{#messages}}
            <ul>
                <li><a href="/message/{{id}}">{{text}}</a><br></li>
            </ul>
        {{/messages}}
        </tr>
    </td>
</table>







<br>
</body>
</html>