<html>

<meta content="/upload/logo.jpg">
<title>BookShelf</title>
<body>

<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>

{{#messages}}
    <table width="100%">
        <tr>
            <td width="220">{{#filename}}
               <img width="200" src="/upload/{{filename}}">
            {{/filename}}{{^filename}}{{/filename}}</td>

            <td>
                <table>
                    <tr>
                        <td>{{id}}
                        </td>
                    </tr>
                    <tr>
                        <td>{{bookName}}
                        </td>
                    </tr>
                    <tr>
                        <td>{{bookAuthor}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>



{{/messages}}


    {{#messages}}
        {{#user}}

        <form method="post" action="upd" enctype="multipart/form-data">
            <input type="text" name="bookName" placeholder="{{bookName}}"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>

            <input type="text" name="bookAuthor" placeholder={{bookAuthor}}>
            <input type="file" name="file">
            <button type="submit">Edit</button>
        </form>

    <form method="post" action="updselect">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <select name="bookAuthor">{{#messages2}}
            <option   value="{{bookAuthor}}">{{bookAuthor}}</option>

        {{/messages2}}
        </select >


        <button type="submit">Select</button>
    </form>



        {{/user}}  {{/messages}}
{{^user}}{{/user}}

<form method="post" action="del">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>

    <button type="submit">Remove</button>

</form>
<br>
<br>
<br>
<br>
<a href="/main">Back</a><br>
<a href="/add">Add Message</a><br>
<a href="/delete">Delete Message</a><br>

</body>
</html>